<div class="list" *ngIf="!isLoading">

  <app-search-header (sendValue)="getValue($event)">
  </app-search-header>

  <div class="mt-5">

    <app-quests [quests]="quests" [value]="filterValue" [page]="pageOfItems">
    </app-quests>


  <div *ngIf="!isLoading && !quests || quests.length == 0">
    <h2 class="text-center">Ooops.. It seems we can't find any quests!</h2>
  </div>


    <jw-pagination
        [items]="quests"
        [pageSize]="8"
        *ngIf="!isLoading && quests.length > 0"
        (changePage)="onChangePage($event)"
    >
    </jw-pagination>

  </div>
</div>

<app-cover-loading *ngIf="isLoading">

</app-cover-loading>
