<div class="list">

<app-search-header>
</app-search-header>

  <div class = "">
    <div class="">
      <app-quests>

      </app-quests>
      <div *ngIf="!quests || quests.length == 0">
        <h2 class="text-center" >Ooops.. It seems we can't find any quests!</h2>
      </div>
    <div>

<!--      <mat-paginator *ngIf="quests && quests.length > 0"-->
<!--                     [pageSizeOptions]="[9, 12, 24]"-->
<!--      >-->

<!--      </mat-paginator>-->

      </div>

    </div>

  </div>

</div>
<!--          *ngIf = "products && products.length>0"-->
<!--          [pageIndex]="pageIndex"-->
<!--          [length]="length"-->
<!--          [pageSizeOptions]="[9, 12, 24]"-->
<!--          [pageSize]="pageSize"-->
<!--          (page)="handlePageChange($event)"-->
