<div class="list" *ngIf="!isLoading; else loader">
  <app-search-header (sendValue)="getValue($event)">
  </app-search-header>
  <div class="mt-5">
    <div *ngIf="quests; else emptyContent">
      <app-quests [quests]="quests" [value]="filterValue" [page]="pageOfItems">
      </app-quests>
      <jw-pagination
        *ngIf="quests?.length > 0"
        [items]="quests"
        [pageSize]="8"
        (changePage)="onChangePage($event)"
      >
      </jw-pagination>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-cover-loading>
  </app-cover-loading>
</ng-template>

<ng-template #emptyContent>
  <div>
    <h2 class="text-center">Ooops.. It seems we can't find any quests!</h2>
  </div>
</ng-template>
