/*.example-form {*/
/*  min-width: 50px;*/
/*  max-width: 300px;*/
/*  width: 100%;*/
/*}*/
img{
  max-height: 200px;
  max-width: 200px;
}
span {
  font-size: large;
}
.example-full-width {
  width: 100%;
  min-width: 50px;
  max-width: 350px;
}

mat-radio-button {
  display: block;
}

.show-strategy {
  width: 20%;
}

.next-button {
  right: 30px;
  bottom: 30px;
  position: absolute;
}

.back-button {
  left: 30px;
  bottom: 30px;
  position: absolute;
}
mat-grid-tile{
  width: 200px;
}
