<div class="m-3">
  <div>Create quest</div>
  <form [formGroup]="createQuest" class="example-form" (ngSubmit)="saveQuest(createQuest.value)">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="ex. name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="ex. description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="mt-3">
      <mat-checkbox class="example-margin" formControlName="explanation">Give questions explanation</mat-checkbox>
    </div>

    <div class="mt-3">How to display answers?</div>
    <div>
      <mat-radio-group aria-label="Select an option" formControlName="replyStrategy">
        <mat-radio-button value="1">don`t show</mat-radio-button>
        <mat-radio-button value="2">show answer at the end</mat-radio-button>
        <mat-radio-button value="3">show answer after user response</mat-radio-button>
        <mat-radio-button value="4">show answer immediately</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="mt-3">In what order to display pages?</div>
    <div>
      <mat-radio-group aria-label="Select an option" formControlName="showStrategy">
        <mat-radio-button value="1">show sequentially</mat-radio-button>
        <mat-radio-button [value]="'2,' + amount.value">show randomly
          <mat-form-field class="show-strategy">
            <mat-label>amount</mat-label>
            <input matInput placeholder="amount" #amount>
          </mat-form-field>
          pages
        </mat-radio-button>
        <mat-radio-button value="3">show everything in random order</mat-radio-button>
      </mat-radio-group>
      <input type="file" formControlName="picture">
    </div>
    <button mat-raised-button color="primary" type="submit" class="next-button">Next</button>
  </form>
  <button mat-raised-button color="primary" class="back-button" (click)="back()">Back</button>
</div>


<!--<app-edit-modules></app-edit-modules>-->
