<div class="m-3">

  <h1 class="text-center mt-4 text-uppercase">Create quest</h1>

  <form [formGroup]="form" class="example-form">
    <mat-grid-list cols="2" rowHeight="20em">

      <mat-grid-tile style="width: 200px">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
              <input matInput placeholder="ex. name" formControlName="name">
            <mat-error *ngIf="form?.get('name')?.hasError('required')">
              {{requiredErrorMessage}}
            </mat-error>
            <mat-error *ngIf="form?.get('name')?.hasError('pattern')">
              {{questNameErrorMessage}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="ex. description" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Explanation</mat-label>
            <textarea matInput placeholder="ex. explanation" formControlName="explanation"></textarea>
          </mat-form-field>

        </div>
      </mat-grid-tile>

      <mat-grid-tile style="width: 200px">

        <app-file-uploader
          (correctFile)="getFile($event)"
          [parentForm]="form"
        >
        </app-file-uploader>


      </mat-grid-tile>

      <mat-grid-tile style="width: 200px">
        <div>
          <label id="select-option-label">How to display answers?</label>
          <mat-radio-group
            aria-labelledby="select-option-label"
            formControlName="replyStrategy"
            class="example-radio-group"
            color="primary"
            [(ngModel)]="selectOption"
            required
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let option of options"
              [value]="option"
            >
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="width: 200px">
        <div>
          <label id="option-label">In what order to display pages?</label>
          <mat-radio-group
            aria-labelledby="option-label"
            formControlName="showStrategy"
            class="example-radio-group"
            color="primary"
            [(ngModel)]="orderDisplayOption"
            required
          >
            <mat-radio-button
              *ngFor="let opt of orderOption"
              [value]="opt"
              class="example-radio-button"
            >
              {{opt}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
    <button mat-raised-button color="primary"
            type="submit"
            class="next-button"
            [disabled]="isHeavier || form.invalid"
            (click)="submit()"
    >
      Next
    </button>

  </form>

  <button mat-raised-button color="primary" class="back-button" (click)="back()">Back</button>

</div>

