<mat-horizontal-stepper linear #stepper
                        labelPosition="bottom"
                        *ngIf="firstStepForm"
>

  <mat-step [stepControl]="firstStepForm">
    <ng-template matStepLabel>Create quest</ng-template>
      <app-create-quest-step-one
        [firstStepForm]="firstStepForm"
      >
      </app-create-quest-step-one>
    </mat-step>

    <mat-step [stepControl]="secondStepForm">
      <ng-template matStepLabel>Create page</ng-template>

      <app-create-quest-step-two
        [secondStepForm]="secondStepForm"
      >
      </app-create-quest-step-two>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Confirm quest</ng-template>
      <app-create-quest-step-three>
      </app-create-quest-step-three>
    </mat-step>


</mat-horizontal-stepper>
