<mat-dialog-content>
<form [formGroup]="choosePictureForm">
  <div class="all-cont">
    <div class="question">
      <app-question-form [parentForm]="choosePictureForm">
      </app-question-form>
    </div>

    <div class="answer">
      <h1>Answers</h1>
      <div class="cont">
        <ng-container formArrayName="options" class="ng-cont">
          <ng-container *ngFor="let option of options().controls; let idx = index">
            <div class="input-check" >
              <div class="d-flex align-items-center">
                <div class="mt-5 ms-3">
                  <app-file-uploader
                    [parentForm]="option"
                  >
                  </app-file-uploader>


                </div>
                <div class="check-btn">

                  <mat-checkbox
                    color="primary"
                    formControlName="isCorrectOption"
                    matTooltip="Check the box if the answer is correct"
                    class="mat-box"
                  >
                  </mat-checkbox>

                  <button
                    mat-mini-fab
                    [disabled]="options().length <= 2"
                    color="accent"
                    class="btn-remove"
                    (click)="deleteOption(idx)"
                  >
                    -
                  </button>




            </div>
            </div>
            </div>
          </ng-container>
        </ng-container>

        <button
          class="add-btn"
          mat-mini-fab
          (click)="addOption()"
          color="primary"
          [disabled]="options().length == 5"
        >
          <mat-icon class="add-course-btn">add</mat-icon>
        </button>

      </div>
    </div>
  </div>
</form>
  <div class="mat-dialog-btn">
    <button mat-raised-button color="primary" mat-dialog-close="false">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      mat-dialog-close="true"
      [disabled]="choosePictureForm.invalid"
      (click)="submit()"
    >Submit
    </button>
  </div>
</mat-dialog-content>
