<form [formGroup]="choosePictureForm">
  <div class="all-cont">
    <div class="question">
      <app-question-form [parentForm]="choosePictureForm">
      </app-question-form>
    </div>

    <div class="answer">
      <h1>Answers</h1>
      <div class="cont">
        <ng-container formArrayName="options" class="ng-cont">
<!--          <ng-container *ngFor="let option of options().controls; let idx = index" formArrayName="options">-->
          <ng-container *ngFor="let option of options().controls; let idx = index">
            <div class="input-check" >
              <div class="d-flex align-items-center">
                <div class="mt-5 ms-3">
<!--                  TO DO: cast to form group-->
                  <app-file-uploader
                    [parentForm]="option"
                  >
                  </app-file-uploader>
                </div>
                <div class="check-btn">

                  <button
                    mat-mini-fab
                    [disabled]="options().length <= 2"
                    color="accent"
                    class="btn-remove"
                    (click)="deleteOption(idx)"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <button
          class="add-btn"
          mat-mini-fab
          (click)="addOption()"
          color="primary"
          [disabled]="options().length == 5"
        >
          <mat-icon class="add-course-btn">add</mat-icon>
        </button>
        <!--                  <mat-checkbox-->
        <!--                    color="primary"-->
        <!--                    formControlName="isCorrectOption"-->
        <!--                    matTooltip="Check the box if the answer is correct"-->
        <!--                  >-->
        <!--                  </mat-checkbox>-->
      </div>
    </div>
  </div>
</form>
