<form [formGroup]="choosePictureForm">
  <div class="all-cont">
    <div class="question">
      <app-question-form [parentForm]="choosePictureForm">
      </app-question-form>
    </div>

    <div class="answer">
      <h1>Answers</h1>
      <div class="cont">
      <div class="input-check" *ngFor="let div of newDivs; index as idx">
        <div class="d-flex align-items-center">
          <div class="mt-5 ms-3">
            <app-file-uploader
              (correctFile)="getFile($event)"
              [parentForm]="choosePictureForm"
            >
            </app-file-uploader>
          </div>
          <div class="check-btn">
          <mat-checkbox class="check" color="primary"></mat-checkbox>
          <button
            *ngIf="newDivs.length > 2"
            type="button"
            mat-mini-fab
            color="primary"
            class="btn-remove"
            (click)="removeNewDiv(idx)"
          >
            -
          </button>
          </div>
        </div>
      </div>
      </div>
      <button
        type="button"
        mat-mini-fab
        color="primary"
        class="btn"
        (click)="addNewDiv()"
        [disabled]="newDivs.length >= 5"
      >
        <mat-icon>plus_one</mat-icon>
      </button>

    </div>

  </div>

</form>


