<div class="main">
  <form [formGroup]="answerOptionForm" class="example-form">

    <div class="all-cont">
      <div class="question">
        <app-question-form [parentForm]="answerOptionForm">
        </app-question-form>
        <div class="mt-5 ms-3">
          <app-file-uploader
            [parentForm]="answerOptionForm"
          >
          </app-file-uploader>
        </div>
      </div>

      <div class="answer">
        <h1>Answers</h1>
        <div formArrayName="options" class="ng-cont">
          <div *ngFor="let option of options.controls; let idx = index">

            <div class="input-check" [formGroupName]="idx">

              <mat-form-field class="example-full-width mx-3" appearance="fill">
                <mat-label>Enter answer option</mat-label>
                <input matInput formControlName="answer">
                <!--              <mat-error *ngIf="option.get('answer')?.hasError('required')">-->
                <!--                {{requiredErrorMessage}}-->
                <!--              </mat-error>-->
              </mat-form-field>
              <mat-checkbox
                color="primary"
                formControlName="isCorrectOption"
                matTooltip="Check the box if the answer is correct"
              >
              </mat-checkbox>
              <button
                mat-mini-fab
                [disabled]="options.length <= 1"
                color="accent"
                class="btn-remove"
                (click)="deleteOption(idx)"
              >
                -
              </button>
            </div>

          </div>
        </div>

        <button
          class="add-btn"
          mat-mini-fab
          (click)="addOption()"
          color="primary"
          [disabled]="options.length == 5"
        >
          <mat-icon class="add-course-btn">add</mat-icon>
        </button>

      </div>
    </div>

  </form>
</div>

