@import "src/app/modules/edit-modules/questions/styles/question.styles";
.main{
  height: 400px;
}
.input-check{
  width: 380px;
}
.check{
  margin-left: 10px;
}
mat-icon{
  cursor: pointer;
}
.ng-cont{
  width: 300px;
}

.add-btn:disabled mat-icon{
  cursor: not-allowed;
}
