<mat-card class="container mb-5" *ngIf="quest">


    <img mat-card-image src="{{quest.picture}}" alt="IMAGE">
<!--  </div>-->

  <mat-card-content>

    <mat-card-title class="text-one-line">
      <p class="fw-bolder">{{quest.name | uppercase}}</p>
    </mat-card-title>
    <mat-card-subtitle class="text-one-line">
      {{quest.userName}}
    </mat-card-subtitle>

  </mat-card-content>

  <hr>

  <mat-card-actions class="action">

    <button mat-raised-button color="primary">Start</button>
    <button mat-raised-button color="primary" [disabled]="true">Edit</button>

  </mat-card-actions>


</mat-card>
